<div class="container">          
  <div class="row home">
    <div class="span4">
      <div class="img_box">
        <a href= <%= url_for samples_path %>>
          <img <%= image_tag 'FormButton.jpg' %>
        </a>
      </div>
      <div class="text">
        <h6>Click here for list of your samples</h6>
          <p>
            Some text about where you are going when clicked.
          </p>
      </div>
    </div>
    <div class="span4">
      <div class="img_box">
       <a href=<%= url_for samples_path %>>
           <img <%= image_tag 'FormButton.jpg' %>
       </a>
      </div>
      <div class="text">
        <h6>Click here to go to the RVC mapping application</h6>
          <p>
            Some text about where you are going when clicked
          </p>
      </div>
    </div>
    <div class="span4">
      <div class="img_box">
       <a href= <%= url_for samples_path %> >
           <img <%= image_tag "FormButton.jpg" %>
       </a>
      </div>
      <div class="text">
        <h6>Another link to url of my choice</h6>
          <p>
            If this is changed then you edited the config correctly
          </p>
      </div>
    </div>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
    <%#<div class="span1">%>
      
    <%#</div>%>
  </div>
</div>

<% if diver_signed_in? && current_diver.role == 'admin' %>
  <%= render 'static_pages/admin' %>
<% end %>
