
<%= nested_form_for @sample, :html => { :class => "form-horizontal" } do |f| %>

  <%= render "shared/error_messages", :target => @sample%>
<div class="sampleSection">
  <div class="row">
    <div class="span3">
          <div class="control-group">
             <label class="control-label">Diver</label>
             <div class="controls">
               <%= f.collection_select :diver_id, Diver.all, :id, :firstname, { :include_blank => "" } %><br />
             </div>
           </div>
            
           <div class="control-group">
             <label class="control-label">Sample Date</label>
             <div class="controls">
               <%= f.text_field :sample_date %>
             </div>
           </div>
           
           <div class="control-group">
             <label class="control-label">Running Site</label>
             <div class="controls">
               <%= f.text_field :running_site %>
             </div>
           </div>

           <div class="control-group">
            <label class="control-label">Reference Site</label>
             <div class="controls">
               <%= f.collection_select :reference_site, ReferenceSite.all, :id, :name, { :include_blank => "" }, { :class => 'coordinates' } %><br />
             </div>
           </div>

           <div class="control-group">
            <label class="control-label">Sample Time</label>
             <div class="controls">
               <%= f.text_field :sample_time %>
             </div>
           </div>

           <div class="control-group">
            <label class="control-label">latitude</label>
             <div class="controls">
               <%= f.text_field :latitude, { :class => 'coordinates' } %>
             </div>
           </div>
           
           <div class="control-group">
            <label class="control-label">longitude</label>
             <div class="controls">
               <%= f.text_field :longitude, { :class => 'coordinates' } %>
             </div>
           </div>
          <div>
           <a href="#">Distance between Reference and Running <span class="distanceBetweenRunningReference">0</span> meters</a>
          </div>

    </div>
    <div class="span3">
      
           <div class="control-group">
            <label class="control-label">Shoreline Code</label>
             <div class="controls">
               <%= f.select :shoreline_cd, Sample::SHORELINES, { :include_blank => "" }  %>
             </div>
           </div>
           
           <div class="control-group">
            <label class="control-label">Mangrove Spp</label>
             <div class="controls">
               <%= f.text_field :mangrove_spp  %>
             </div>
           </div>

        <div class="control-group">
         <label class="control-label">Depth Meter 0</label>
          <div class="controls">
            <%= f.text_field :depth_meter_0 %>
          </div>
        </div>

        <div class="control-group">
         <label class="control-label">Depth Meter 15</label>
          <div class="controls">
            <%= f.text_field :depth_meter_15 %>
          </div>
        </div>
        
        <div class="control-group">
         <label class="control-label">Depth Meter 30</label>
          <div class="controls">
            <%= f.text_field :depth_meter_30 %>
          </div>
        </div>

      </div>

      <div class='span2'>

        <div class="control-group">
          <label class="control-label">Bottom Type 1</label>
          <div class="controls">
            <%= f.collection_select :bottom_type_1, BottomType.all, :id, :name, { :include_blank => "" } %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Bottom Type 2</label>
          <div class="controls">
            <%= f.collection_select :bottom_type_2, BottomType.all, :id, :name, { :include_blank => "" } %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Bottom Type 3</label>
          <div class="controls">
            <%= f.collection_select :bottom_type_3, BottomType.all, :id, :name, { :include_blank => "" } %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Bottom Type 4</label>
          <div class="controls">
            <%= f.collection_select :bottom_type_4, BottomType.all, :id, :name, { :include_blank => "" } %>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">Bottom Type 5</label>
          <div class="controls">
            <%= f.collection_select :bottom_type_5, BottomType.all, :name, :name, { :include_blank => "" } %>
          </div>
        </div>

      </div>

    <div class="span3">
      
      <div class="control-group">
         <label class="control-label">Temperature</label>
          <div class="controls">
            <%= f.text_field :temperature %>
          </div>
        </div>

        <div class="control-group">
         <label class="control-label">Salinity</label>
          <div class="controls">
            <%= f.text_field :salinity %>
          </div>
        </div>

        <div class="control-group">
         <label class="control-label">Dissolved O2</label>
          <div class="controls">
            <%= f.text_field :dissolved_oxygen %>
          </div>
        </div>

        <div class="control-group">
         <label class="control-label">Visibility</label>
          <div class="controls">
            <%= f.text_field :visibility %>
          </div>
        </div>

           <div class="control-group">
            <label class="control-label">Notes</label>
             <div class="controls">
               <%= f.text_area :notes, { :size => '60x3', :autocomplete => :off } %>
             </div>
           </div>
    </div>


  </div>
</div>


  <div class="row">
    <div class="span12 animalSection">

      <div class="speciesLabels">
        <ul class="inline">
          <li id="species"> Species </li> <li id="num"> Num </li> <li id="mean"> Mean </li> <li id="min"> Min </li> <li id="max"> Max </li>
        </ul>
      </div>

      <div id="animals">
        <ol>   
          <%= render "animals", :object => f %>
          
          <%= f.link_to_add "Add species", :sample_animals, { :class => "add_nested_species" } %>
        </ol>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Submit Sample", :id => "submitButton" %>
  </div>
<% end %>


<script>
  var reference_site_info = <%= raw ReferenceSite.all.to_json %>
</script>
