<div class="form-horizontal">
<%= nested_form_for @sample do |f| %>

  <%= render "shared/error_messages", :target => @sample%>


<div class='formContainer'>
  <div id="sampleSection" class="sectionDiv">
    <div class='section_1'>
     <div id='section_1_part_1'>
       
       <div class="control-group">
          <label class="control-label">Diver</label>
          <div class="controls">
            <%= f.collection_select :diver_id, Diver.all, :id, :firstname, { :include_blank => "" } %><br />
          </div>
        </div>
         
        <div class="control-group">
          <label class="control-label">Sample Date</label>
          <div class="controls">
            <%= f.text_field :date %>
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label">Field Id</label>
          <div class="controls">
            <%= f.text_field :field_id %>
          </div>
        </div>

        <div class="control-group">
         <label class="control-label">Season</label>
          <div class="controls">
            <%= f.text_field :season %>
          </div>
        </div>

        <div class="control-group">
         <label class="control-label">Strata</label>
          <div class="controls">
            <%= f.text_field :strata %>
          </div>
        </div>

        <div class="control-group">
         <label class="control-label">latitude</label>
          <div class="controls">
            <%= f.text_field :latitude %>
          </div>
        </div>

        <div class="control-group">
         <label class="control-label">longitude</label>
          <div class="controls">
            <%= f.text_field :longitude %>
          </div>
        </div>

        <div class="control-group">
         <label class="control-label">Temperature</label>
          <div class="controls">
            <%= f.text_field :temperature %>
          </div>
        </div>

        <div class="control-group">
         <label class="control-label">Dissolved O2</label>
          <div class="controls">
            <%= f.text_field :dissolved_oxygen %>
          </div>
        </div>

        <div class="control-group">
         <label class="control-label">Salinity</label>
          <div class="controls">
            <%= f.text_field :salinity %>
          </div>
        </div>

        <div class="control-group">
         <label class="control-label">Avg Depth</label>
          <div class="controls">
            <%= f.text_field :avg_depth %>
          </div>
        </div>

        <div class="control-group">
         <label class="control-label">Visibility</label>
          <div class="controls">
            <%= f.text_field :visibility %>
          </div>
        </div>

    <div id="animals">
    <ol>   
      <%= render "animals", :object => f %>
      
      <%= f.link_to_add "Add species", :sample_animals %>
    </ol>
    </div>

    </div>
  </div>
</div>

  <div class="actions">
    <%= f.submit "Submit Sample", :id => "submitButton" %>
  </div>

</div>
</div>

<% end %>
</div>

