
<%= nested_form_for @sample, :html => { :class => "form-horizontal" } do |f| %>

  <%= render "shared/error_messages", :target => @sample%>
<div class="sampleSection">
  <div class="row">
    <div class="span3">
          <div class="control-group">
             <label class="control-label">Diver</label>
             <div class="controls">
               <%= f.collection_select :diver_id, Diver.all, :id, :firstname, { :include_blank => "" } %><br />
             </div>
           </div>
            
           <div class="control-group">
             <label class="control-label">Sample Date</label>
             <div class="controls">
               <%= f.text_field :sample_date %>
             </div>
           </div>
           
           <div class="control-group">
             <label class="control-label">Running Site</label>
             <div class="controls">
               <%= f.text_field :running_site %>
             </div>
           </div>

           <div class="control-group">
            <label class="control-label">Refernece Site</label>
             <div class="controls">
               <%= f.collection_select :reference_site, ReferenceSite.all, :name, :name, { :include_blank => "" } %><br />
             </div>
           </div>

           <div class="control-group">
            <label class="control-label">Sample Time</label>
             <div class="controls">
               <%= f.text_field :sample_time %>
             </div>
           </div>

           <div class="control-group">
            <label class="control-label">latitude</label>
             <div class="controls">
               <%= f.text_field :latitude %>
             </div>
           </div>
           
           <div class="control-group">
            <label class="control-label">longitude</label>
             <div class="controls">
               <%= f.text_field :longitude %>
             </div>
           </div>
           

    </div>
    <div class="span3">
      
           <div class="control-group">
            <label class="control-label">Shoreline Code</label>
             <div class="controls">
               <%= f.select :shoreline_cd, Sample::SHORELINES, { :include_blank => "" }  %>
             </div>
           </div>
           
           <div class="control-group">
            <label class="control-label">Mangrove Spp</label>
             <div class="controls">
               <%= f.text_field :mangrove_spp  %>
             </div>
           </div>

        <div class="control-group">
         <label class="control-label">Depth Meter 0</label>
          <div class="controls">
            <%= f.text_field :depth_meter_0 %>
          </div>
        </div>

        <div class="control-group">
         <label class="control-label">Depth Meter 15</label>
          <div class="controls">
            <%= f.text_field :depth_meter_15 %>
          </div>
        </div>
        
        <div class="control-group">
         <label class="control-label">Depth Meter 30</label>
          <div class="controls">
            <%= f.text_field :depth_meter_30 %>
          </div>
        </div>

      </div>

    <div class='span2'>
      <legend id="bottomTypeHeader"> Underwater Types </legend>
      <%= render "bottom_type_fields", :object => f  %>
      <%= f.link_to_add "Add Bottom Type", :sample_bottom_types %>

    </div>

    <div class="span3">
      
      <div class="control-group">
         <label class="control-label">Temperature</label>
          <div class="controls">
            <%= f.text_field :temperature %>
          </div>
        </div>

        <div class="control-group">
         <label class="control-label">Salinity</label>
          <div class="controls">
            <%= f.text_field :salinity %>
          </div>
        </div>

        <div class="control-group">
         <label class="control-label">Dissolved O2</label>
          <div class="controls">
            <%= f.text_field :dissolved_oxygen %>
          </div>
        </div>

        <div class="control-group">
         <label class="control-label">Visibility</label>
          <div class="controls">
            <%= f.text_field :visibility %>
          </div>
        </div>

           <div class="control-group">
            <label class="control-label">Notes</label>
             <div class="controls">
               <%= f.text_area :notes, { :size => '60x3', :autocomplete => :off } %>
             </div>
           </div>
    </div>


  </div>
</div>


  <div class="row">
    <div class="span12">
      <div id="animals">
        <ol>   
          <%= render "animals", :object => f %>
          
          <%= f.link_to_add "Add species", :sample_animals %>
        </ol>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Submit Sample", :id => "submitButton" %>
  </div>
<% end %>


