  <div class="formContainer">
    <h3><%= current_diver.firstname %> Samples</h3>
  
      <table id="sampleList" class="display table table-condensed">
        <thead>
         <tr>
           <th>Diver</th>
           <th>Running Site</th>
           <th>Date</th>
         </tr>
       </thead>
       <tbody>
      <% @samples.each do |sample| %>
        <tr data-link=" <%= edit_sample_path(sample) %> ">
          <td><%= sample.diver.firstname %></td>
          <td class='fieldid_check'><%= sample.running_site %></td>
          <td><%= sample.sample_date %></td>
        </tr>
      <% end %>
      </tbody>
      </table>
  </div>

  <%= link_to 'New Sample', new_sample_path %>
 <% if diver_signed_in? && current_diver.role == 'admin' %>
  <%= link_to 'Excel', samples_path(format: "xlsx") %>
<% end %>
