
  <div class="formContainer">
    <h1>Listing divers</h1>
    
      <table id="diversList", class="display table table-condensed ">
        <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>edit</th>
          <th>destroy</th>
        </tr>
      </thead>
      <tbody>
      <% @divers.each do |diver| %>
        <tr>
          <td><%= diver.firstname %></td>
          <td><%= diver.lastname %></td>
          <td><%= link_to 'Edit', edit_diver_path(diver) %></td>
          <td><%= link_to 'Destroy', diver, confirm: 'Are you sure?', method: :delete %></td>
        </tr>
      <% end %>
      </tbody>
      </table>
  </div>


<%= link_to 'New Diver', new_diver_path %>
