<p>
  <b>Spp code:</b>
  <%= @animal.spp_code %>
</p>

<p>
  <b>Scientific name:</b>
  <%= @animal.scientific_name %>
</p>

<p>
  <b>Common name:</b>
  <%= @animal.common_name %>
</p>


<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
