

  <div class="formContainer">
    <h2>Listing Reference Sites</h2>
      <table id="animalsList" class="display table table-condensed">
        <thead>
        <tr>
          <th> Name </th>
          <th> Latitude </th>
          <th> Longitue </th>
          <th> Strata </th>
        </tr>
      </thead>
      <tbody>
      <% @reference_sites.each do |ref_site| %>
        <tr data-link=" <%= edit_reference_site_path(ref_site) %> ">
          <td><%= ref_site.name %> </td>
          <td><%= ref_site.latitude %> </td>
          <td><%= ref_site.longitude %> </td>
          <td><%= ref_site.strata %> </td>
        </tr>
      <% end %>
      </tbody>
      </table>
  </div>


<%= link_to 'New Refernece Site', new_reference_site_path %>
